Package: com.flipanybag7.chameleon
Name: Chameleon
Version: 0.5.2
Architecture: iphoneos-arm64
Description: Rootless profile, network and location testing manager
Maintainer: Local development build
Section: Utilities
Author: Local development build
Depends: firmware (>= 15.0), ellekit | mobilesubstrate
